.data-list#js-data-list
    p.more.wrap-gap
        if dateCheckbox
            span.checkbox.active 是否空场
        a#js-more-filter 更多指标
    ul.header.wrap-gap
        li(data-type="0").c0 影片名称
        li(data-type="1").up.c1
            span 票房收入
                em
                em
            | <br/>
        li(data-type="2").down.c2
            span 票房占比
                em
                em
            | <br/>
        li(data-type="3").c3
            span 场次
                em
                em
            | <br/>
        li(data-type="4").c4
            span 场次占比
                em
                em
            | <br/>
        li(data-type="5").dis-none
            span 人次
                em
                em
            | <br/>
        li(data-type="6").dis-none
            span 人次占比
                em
                em
            | <br/>
        li(data-type="7").dis-none
            span 场均人次
                em
                em
            | <br/>
        li(data-type="8").dis-none
            span 上座率
                em
                em
            | <br/>
        li(data-type="9").dis-none
            span 单座产值
                em
                em
            | <br/>
        li(data-type="10").dis-none
            span 排座占比
                em
                em
            | <br/>
        li(data-type="11").dis-none
            span 票房效能
                em
                em
        li(data-type="12").dis-none
            span 排片效率
                em
                em
            | <br/>
        li(data-type="13").dis-none
            span 排座效率
                em
                em
            | <br/>
    //ul.msg
    //    li
    //        span 1
    //        | <b>X战警X战警X战警X战警</b>
    //    li 11.22
    //    li 22.2
    //    li 70
    //    li 5.4
    //    li
    //        span 1
    //        | X战警X战警X战警X战警
