extends layout
	
block main
	#pop-calendar-box.pop-calendar
		header
			a.close
			span 报表导航
		#calendar-box.calendar-wrap
			.calendar
				.months
				
		.btn.btn-c-white
			a(href="javascript:void(0);",data-time='') 确认